.animation-container{
    border: 1px lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 0 0 0.25rem gray;
    text-align: center;
}

#container {
    border: 1px solid black;
    margin: 10px auto;
    width: fit-content;
    border-radius: 10px;
}

#field {
    border: 1px solid red;
    margin: 10px;
    background-image: url('img/download.jpeg');
    background-position: center;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    position: relative;
}

#control {
    margin: 10px;
}

#ball {
    border: 1px solid;
    border-radius: 50%;
    background-color: black;
    background-size: cover;
    animation: animate 2s infinite linear;
    position: absolute; /* absolute เพื่อให้จัดการตำแหน่งด้วย left/top */
    background-image: none;

    /* ขนาดของบอล */
    height: 100px;
    width: 100px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
