.variable-container{
    border: 1px solid;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    margin: 0 0 1rem 0;
    background-color: rgb(223, 223, 217);

}

.variable-title{
    color: rgb(26, 28, 165);
}

.variable-button{
    border: 1px solid;
    border-radius: 0.5rem;

}
.variable-value{
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
}

