.counter-container{
    /* border: 1px solid; */
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    margin: 0 0 1rem 0;
    background-color: rgb(223, 223, 217);
    width: 50%;

}


.counter-title{
    color: rgb(26, 28, 165);
}

.counter-button{
    border: 1px solid;
    border-radius: 0.5rem;

}

/* .counter-dec{
    background-color: lightpink;
}

.counter-inc{
    background-color: lightskyblue;
} */

.counter-value{
    font-size: xx-large;
    margin: 0 1rem 0 1rem;
}

